body{
    background-color: black;
} 

.carousel-inner{
    max-height: 34rem;
}

img{
    padding: 25px 5px 25px 5px;
}

.mapa{
    display: flex;
    justify-content: flex-start;
}

.texto{
   color: white;
   text-align: start;
   font-size: large;
}

.historia{
   color: white;
   text-align: center;
   font-size: large;
}

h5{
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: large;
}

.row{
    background-color: rgb(27, 24, 24);
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1020;
}

.titulo{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.tituloservicios{
    color: white;
    margin-top: 20px;
}
