@media (max-width: 425px) {

    .texto{
        font-size: medium;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        border-bottom: solid 1px white;
    }
    .textocarousel{
        font-size: medium; 
    }
    .titulocarousel{
        font-size: large;
    }
    .tituloservicios{
        text-align: center;
    }
    .creditos .copy{
        font-size: medium;
    }
    .historia{
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }
}