@media (max-width: 425px) {

    .collapse{
        display: flex;
        justify-content: flex-start;
    } 
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        background-color: rgb(13, 110, 253);
        opacity: 0.8;
    }

    .texto{
        font-size: medium;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .textocarousel{
        font-size: medium; 
        margin: 0%;
    }
    .titulocarousel{
        font-size: large;
    }
    .tituloservicios{
        text-align: center;
    }
    .creditos .copy{
        font-size: medium;
    }
    .historia{
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }
    .borde{
        border-bottom: solid 1.5px white;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .collapse{
        display: flex;
        justify-content: flex-start;
    } 

    .texto{
        font-size: medium;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .textocarousel{
        font-size: medium; 
        margin: 0%;
    }
    .titulocarousel{
        font-size: large;
    }
    .tituloservicios{
        text-align: center;
    }
    .creditos .copy{
        font-size: medium;
    }
    .historia{
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
    }
    .borde{
        border-bottom: solid 1.5px white;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;;
    }

    .img-fluid{
        padding-left: 80px;
        padding-right: 80px;
    }
}
