@import '../base/mixins';

.row {
    background-color: $globalcolor-rows;
    
    h3{
      padding-top: 20px;
      color: $color-texto;
      @include alineado-texto(center);
      @include tamanio-letra(large);
    }

    .mapa{
       padding-top: 20px;
       padding-bottom: 20px;
       padding-right: 15px;
       padding-left: 15px;
       width: 100%;
    }
}

