@import '../base/mixins';

.creditos{
    height: 125px;
    /* justify-content: center;*/
    @extend %flexbox;
    @include propiedad-flex (center);
    flex-direction: column;
    
    & .copy{
    text-align: center;
    /* justify-content: center; */
    @include propiedad-flex (center);
    color: $color-texto;
    font-size: large;
    } 
}
