@import '../base/mixins';


.footer{
    height: 100px;
    /* justify-content: center;*/
    flex-direction: column ; 
    @extend %flexbox;
    @include propiedad-flex (center);

    & .copy{
    text-align: center;
    /* justify-content: center; */
    @include propiedad-flex (center);
    color: $color-texto;
    font-size: large;
    } 
}
