@import '../base/mixins';

.creditos{
    height: 125px;
    @extend %flexbox;
    @include propiedad-flex (center);
    flex-direction: column;
    
    & .copy{
    @include alineado-texto(center);
    @include propiedad-flex (center);
    color: $color-texto;
    @include tamanio-letra(large);
    } 
}
