@import '../base/mixins'; 
/*Nesting de la clase Redes*/

.redes{
    
/*    justify-content: space-evenly;
*/    @extend %flexbox;
      @include propiedad-flex(space-evenly);

    p{
        border-radius: 6px;
        width: fit-content;
        height: 40px;
    }
    
    & a{
        text-decoration: none;
        font-size: x-large;
    }
}








